################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CheckInKiosk/bin/Debug/net8.0-windows10.0.18362.0
